# C# (ASP.NET Core)
# .NET build directories
bin/
obj/

# User-specific files
.vs/
.vscode/
.idea/

# JetBrains Rider project files
.idea/

# Windows Installer files
*.cab
*.msi

# ASP.NET Core environment files
appsettings.Development.json

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode settings for Python
.vscode/

# pytest cache
.pytest_cache/

# OS-specific files
.DS_Store
Thumbs.db

# dotenv file (useful for environment variables that should not be committed)
.env

# User-specific file types
.idea/

pythonAPI/emotion_model/restNet_model/fer2013_resnet50_best.keras


